<h1>Cafeteria Dashboard</h1>
<%= column_chart @sales_amount %>
<%= column_chart @sales_count %>
<%= column_chart @sales_average %>
<%= pie_chart @sales_origin_12 %>
<%= pie_chart @sales_origin_6 %>
<%= pie_chart @sales_origin_3 %>
<%= pie_chart @sales_origin_1 %>
<%= pie_chart @sales_blend_name_12 %>
<%= pie_chart @sales_blend_name_6 %>
<%= pie_chart @sales_blend_name_3 %>
<%= pie_chart @sales_blend_name_1 %>